#quizmain {
    justify-content: flex-start;
}

.progress {
    width: 75%
}

.progress-bar {
    width: 20%
}

.quiz-progress {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    width: 100vw;
    margin-top: 1rem;
}

.instruction {
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
    margin-left: 5rem;
    margin-top: 1rem;
}

.question {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}

.answer-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 1rem;
    margin-top: 2rem;
    margin-left: 10vw;
    margin-right:10vw;
}

.option {
    background-color: white;
    width: 45%;
    height: 3rem;
}

.confirm-answer {
    position: absolute;
    bottom: 3rem;
    width: 90%;
    height: 3rem;
}