#quizmain {
    justify-content: flex-start;
}

.progress {
    width: 75%
}

.progress-bar {
    width: 20%
}

.quiz-progress {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    width: 100vw;
    margin-top: 20px;
}

.question-box {
    border-radius: 15px;
    border-color: black;
    background-color: white;
    padding: clamp(2rem, 5vw, 2rem);
    margin-top: 20px;
}

.instruction {
    font-size: 1.5rem;
    width: 100%;
    margin-top: 1rem;
}

.question {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}

.answer-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 20px;
    width: 80%;
    position: absolute;
    bottom: 100px;
}

.option {
    background-color: white;
    width: 100%;
    height: 60px;
}

.confirm-answer {
    position: absolute;
    bottom: 40px;
    width: 90%;
    height: 50px;
}

@media (max-height: 600px) {
  .confirm-answer {
    bottom: 10px;
  }
  .answer-options {
    bottom: 70px;
  }
}