body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

header {
  flex: 0 80px;
  background: hsl(223, 57%, 38%);
}

footer {
  flex: 0 30px;
  background: hsl(180, 10%, 10%);
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
  }
}

@media (max-height: 700px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
}

.garden-grid {
    transform: rotateZ(45deg) rotate3d(1, -1, 0, 60deg);
    transform-origin: center;
    display: inline-block;
    vertical-align: middle;
    width: 100vw;
    left: 0;
    top: 0;
    text-align: center;
}

.garden-row {
    width: 500px;
    height: 100%;
    white-space: nowrap;
    font-size:0;
}

.tile {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border: 1px solid black;
    position: relative;
    display: inline-block;
}

.tile:hover {
    background-color: gray;
}