.garden-grid {
    transform: rotateZ(45deg) rotate3d(1, -1, 0, 60deg);
    transform-origin: center;
    display: inline-block;
    vertical-align: middle;
    width: 100vw;
    left: 0;
    top: 0;
    text-align: center;
}

.garden-row {
    width: 500px;
    height: 100%;
    white-space: nowrap;
    font-size:0;
}

.tile {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border: 1px solid black;
    position: relative;
    display: inline-block;
}

.tile:hover {
    background-color: gray;
}