.garden-title {
    text-align: center;
    vertical-align: top;
}

.garden-grid {
    transform: rotateZ(45deg) rotate3d(1, -1, 0, 60deg); /*Isometric view*/
    transform-origin: center;

    display: inline-block;
    vertical-align: middle;
    position: absolute;
}

.garden-row {
    width: 50vw;
    height: 10vw;
    white-space: nowrap;
    font-size:0;
}

.tile {
    width: 10vw;
    height: 10vw;
    background-color: rgb(93, 53, 16);
    border: 1px solid black;
    position: relative;
    display: inline-block;
}

.tile:hover {
    background-color: gray;
}

.plant {
    width: 10px;
    transform: rotateZ(-45deg) rotate3d(1, -1, 0, -60deg); /*Isometric view*/
    transform-origin: center;
}